/* Temas adicionales pueden ir aquí */
.theme-blue {
    --color-accent: #2b6cb0;
    --color-accent-light: #3182ce;
}

.theme-green {
    --color-accent: #38a169;
    --color-accent-light: #48bb78;
}

.theme-red {
    --color-accent: #e53e3e;
    --color-accent-light: #f56565;
}
